<%- include('partials/navbar') %>
<div class="container mt-4">
    <h3 class="mb-3">Laporan Kas Sarina (10 Terakhir)</h3>
    <table class="table table-striped bg-white shadow-sm">
        <thead class="table-warning">
            <tr><th>Keterangan</th><th>Masuk (D)</th><th>Keluar (K)</th><th>Aksi</th></tr>
        </thead>
        <tbody>
            <% dataKas.forEach(item => { %>
                <tr>
                    <td><%= item.Keterangan %></td>
                    <td class="text-success">+ <%= item.Debet %></td>
                    <td class="text-danger">- <%= item.Kredit %></td>
                    <td><a href="/hapus/kas/<%= item.ID %>" class="btn btn-sm btn-outline-danger">Del</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
